<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png' %}" />

    <!--================ REMIXICON ================-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.min.css">

    <!--================ CSS ================-->
    <link rel="stylesheet" href="{% static 'css/partials/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/partials/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/partials/footer.css' %}">
    
    <!--================ JS ================-->
    <!-- Global Variables -->
    <script>
        // path to search.html
        const homeUrl = "{% url 'home' %}";
        // path to home.html
        const searchUrl = "{% url 'search' %}";
    
        // url for static files
        const staticUrl = "{% static '' %}"
    </script>

    <!-- Global JS files -->
    <script src="{% static 'scripts/partials/header.js' %}" defer></script>
    <script src="{% static 'scripts/partials/footer.js' %}" defer></script>
    
    
    <!--================ ADDITIONAL MODULES ================-->
    {% block head %}{% endblock head %}

    <title>
       {% block title %} Document {% endblock title %}
    </title>
</head>
<body>
    {% include 'partials/header.html' %}
    {% block content %}

    {% endblock content %}
    {% include 'partials/footer.html' %}
</body>
</html>