{% load static %}

<header class="header" id="header">
    <nav class="nav container">
        <a href="#" class="nav__logo">
            <img src="{% static 'images/header/logo.svg' %}" alt="logo picture">
            <img src="{% static 'images/header/logo-text.svg' %}" alt="petsitter">
        </a>
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li>
                    <a href="#" class="nav__link">О сервисе</a>
                </li>

                <li>
                    <a href="#" class="nav__link">Услуги</a>
                </li>

                <li>
                    <a href="#" class="nav__link">Наши ситтеры</a>
                </li>
            </ul>

            <!-- Close button -->
            <div class="nav__close" id="nav-close">
                <i class="ri-close-large-line"></i>
            </div>
        </div>
        <div class="nav__top-menu">
            <!-- Singin button -->
            <a href="#" class="nav__sign-in">
                <i class="ri-login-circle-line"></i>
                Войти
            </a>

            <!-- Toggle button -->
            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line"></i>
            </div>
        </div>


    </nav>
</header>