{% extends "partials/base.html" %}
{% load static %}

{% block title %} Личный кабинет {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/profile/profile.css' %}">
    <script src="{% static 'scripts/profile.js' %}" defer></script>
{% endblock head %}

{% block content %}
<div class="profile__main">
    <div class="profile__wrapper">

        <ul class="profile__nav">
            <li><a href="{% url 'user_app:customer_profile' username=user.username %}" class="profile__nav-selected">Мой профиль</a></li>
            <li><a href="{% url 'home' %}">История заказов</a></li>
            <li><a href="{% url 'home' %}">Сообщения</a></li>
        </ul>
    
        <div class="profile__content">

            
            <h2 class="toggle-section" data-target="#profile-info">
                Мои данные <i class="ri-arrow-down-s-line arrow"></i>
            </h2>
            <div id="profile-info" class="collapsible">
                {% if customer_profile == user %}
                    <a class="edit-profile" href="{% url 'user_app:user_profile_edit' username=customer_profile.username %}">
                        <span>Редактировать профиль</span>
                        <img src="{% static 'images/profile/profile-edit.png' %}" alt="">
                    </a>
                {% endif %}
    
                <div class="profile-info">
                    <div class="image-wrapper">
                        <img src="{{ customer_profile.profile.image.url }}" alt="{{ customer_profile }}" class="profile-image">
                    </div>
                    
                    <div class="profile-data">
                        <div class="data-row">
                            <div class="data-lable">Имя:</div>
                            <div class="data-data">{{ customer_profile.first_name }}</div>
                        </div> 
                        {% if customer_profile.last_name %}
                            <div class="data-row">
                                <div class="data-lable">Фамилия:</div>
                                <div class="data-data">{{ customer_profile.last_name|default_if_none:"Нет данных" }}</div>
                            </div> 
                        {% endif %}
                        {% if customer_profile.profile.location %}
                            <div class="data-row">
                                <div class="data-lable">Город:</div>
                                <div class="data-data">{{ customer_profile.profile.location|default_if_none:"Нет данных" }}</div>
                            </div> 
                        {% endif %}
                        {% if customer_profile.profile.show_email %}
                            <div class="data-row">
                                <div class="data-lable">Email:</div>
                                <div class="data-data">{{ customer_profile.email }}</div>
                            </div> 
                        {% endif %}
                        {% if customer_profile.profile.show_phone %}
                            <div class="data-row">
                                <div class="data-lable">Телефон:</div>
                                <div class="data-data">{{ customer_profile.profile.phone|default_if_none:"Нет данных" }}</div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
    


            <h2 class="toggle-section" data-target="#pets-info">
                Мой питомец <i class="ri-arrow-down-s-line arrow"></i>
            </h2>
            <div id="pets-info" class="collapsible">
                {% for pet in customer_pets %}

                    <div class="data-row">
                        <div class="pet-type-buttons">
                            <div class="pet-type-button {% if pet.pet_type == 'кошка' %}highlight{% endif %}">
                                <img src="{% static 'images/profile/CAT.png' %}" alt="">
                            </div>
                            <div class="pet-type-button {% if pet.pet_type == 'собака' %}highlight{% endif %}">
                                <img src="{% static 'images/profile/DOG.png' %}" alt="">
                            </div>
                        </div>
                    </div> 

                    <div class="pet-info">
                        <div class="image-wrapper">
                            <img src="{{ pet.image.url }}" alt="{{ pet }}" class="pet-image">
                        </div>
                        
                        <div class="pet-data">
                            <div class="data-row">
                                <div class="data-lable">Имя:</div>
                                <div class="data-data">{{ pet.name|default_if_none:"Нет данных" }}</div>
                            </div> 
                            <div class="data-row">
                                <div class="data-lable">Порода:</div>
                                <div class="data-data">{{ pet.breed|default_if_none:"Нет данных" }}</div>
                            </div> 
                            <div class="data-row">
                                <div class="data-lable">Возраст:</div>
                                <div class="data-data">{{ pet.age|default_if_none:"Нет данных" }}</div>
                            </div> 
                            <div class="data-row">
                                <div class="data-lable">Вес:</div>
                                <div class="data-data">{{ pet.weight|default_if_none:"Нет данных" }}</div>
                            </div> 
                            <div class="data-row">
                                <div class="data-lable">Дополнительная информация:</div>
                                <div class="data-data">{{ pet.extra_info|default_if_none:"Нет данных" }}</div>
                            </div> 
                            {% if customer_profile == user %}
                                <div class="pet-edit-buttons">
                                    <a class="pet-edit-button" href="{% url 'pet_update' pet.id %}">Изменить данные питомца</a>
                                    <a class="pet-edit-button" href="{% url 'pet_delete' pet.id %}">Удалить данные питомца</a>
                                </div> 
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                {% if customer_profile == user %}
                    <div class="add-pet__button">
                        <i class="ri-add-line add-pet__symbol"></i>
                        <a href="{% url 'pet_create' %}">Добавить питомца</a>
                    </div>
                {% endif %}
            </div>
    
            <h2 class="toggle-section" data-target="#settings">
                Настройки <i class="ri-arrow-down-s-line arrow"></i>
            </h2>
            <div id="settings" class="collapsible collapsible-settings">
                {% if customer_profile == user %}
                    <a class="pet-edit-button" href="{% url 'user_app:user_profile_settings' username=customer_profile.username %}">Изменить пароль</a>
                {% endif %}
            </div>
    
            <h2 class="toggle-section" data-target="#help">
                Помощь <i class="ri-arrow-down-s-line arrow"></i>
            </h2>
            <div id="help" class="collapsible">
                <!-- Контент для помощи -->
            </div>
    
            <a class="profile-dop-button" href="{% url 'user_app:logout' %}">Выйти</a>
            <a class="profile-dop-button" href="profile-dop-button">Удалить профиль</a>
        </div>


    </div>
</div>
<div class="profile-container">

</div>
{% endblock content %}