{% extends "partials/base.html" %}
{% load static %}

{% block title %} Личный кабинет {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/profile/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile/profile_edit.css' %}">
{% endblock head %}

{% block content %}
<div class="profile__main">
    <div class="profile__wrapper">
        <div class="profile__content">

            <a class="back__button" href="{% url 'user_app:customer_profile' username=user.username %}">
                <i class="ri-arrow-left-s-fill"></i>
                Вернуться в профиль
            </a>
            <h2 class="edit__title">Редактирование профиля {{ user.first_name }} {{ user.last_name }}</h2>



            {% if messages %}
                    {% for message in messages %}
                        {{ message }}<br>
                    {% endfor %}
            {% endif %}

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for error in user_info_form.errors.values %}
                    {{ error }}
                {% endfor %}

                <div style="display: none;">{{ user_info_form.username }}</div>
                

                <div class="profile-info">
                    <div class="image-wrapper">
                        <img src="{{ user.profile.image.url }}" alt="{{ customer_profile }}" class="profile-image">
                        <!-- <img src="{% static 'images\profile\user_default.png' %}" alt="" class="profile-image"> -->
                        {{ user_profile_form.image }}
                    </div>
                    
                    <div class="profile-data-edit">
                        <div class="data-row">
                            <div class="data-lable">Имя:</div>
                            <div class="data-data-edit">{{ user_info_form.first_name }}</div>
                        </div> 

                        <div class="data-row">
                            <div class="data-lable">Фамилия:</div>
                            <div class="data-data-edit">{{ user_info_form.last_name }}</div>
                        </div> 


                        <div class="data-row">
                            <div class="data-lable">Город:</div>
                            <div class="data-data-edit">{{ user_profile_form.location }}</div>
                        </div> 


                        <div class="data-row">
                            <div class="data-lable">Email:</div>
                            <div class="data-data-edit">
                                {{ user_info_form.email }}
                                <div class="checkbox-wrapper">
                                    {{ user_profile_form.show_email }}
                                    <label for="id_show_email">Отображать?</label>
                                </div>
                            </div>
                        </div> 


                        <div class="data-row">
                            <div class="data-lable">Телефон:</div>
                            <div class="data-data-edit">
                                {{ user_profile_form.phone }}
                                <div class="checkbox-wrapper">
                                    {{ user_profile_form.show_phone }}
                                    <label for="id_show_phone">Отображать?</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <button class="save-button" type="submit" name="user_info_form">
                    Сохранить
                </button>

            </form>

        </div>
    </div>
</div>
{% endblock content %}