{% extends "partials/base.html" %}
{% load static %}


{% block title %} Изменение пароля {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile/add_service.css' %}">
    <style>
        .description {
            margin: 20px 0;
            color: #9A949F;
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
        }
        .description p {
            margin: 10px 0;
        }
    </style>
{% endblock head %}

{% block content %}
<div class="auth__main">
    <div class="auth__wrapper">
        <div class="auth__content">

            <button onclick="history.back();" class="auth__back-button">
                <img src="{% static 'images/login/back_button.svg' %}" alt="Back">
                <span>Вернуться</span>
            </button>

            <h2 class="auth__title">Изменение пароля {{ user }}</h2>

            {% if messages %}
                <p class="alert alert-success">
                    {% for message in messages %}
                        {{ message }}<br>
                    {% endfor %}
                </p>
            {% endif %}

            <div class="auth__form-group">
                <form method="post">
                    {% csrf_token %}
                    <div class="description">
                        <p>Пароль не должен быть слишком похож на другую вашу личную информацию.</p>
                        <p>Ваш пароль должен содержать как минимум 8 символов.</p>
                        <p>Пароль не должен быть слишком простым и распространенным.</p>
                        <p>Пароль не может состоять только из цифр.</p>
                    </div>
                    {% for field in user_password_form %}
                        <div class="data-row">
                            <div class="data-lable">{{ field.label }}</div>
                            <div class="data-data-edit">{{ field }}</div>
                        </div> 
                    {% endfor %}

                    <button class="auth__btn auth__main-btn" type="submit" name="user_password_form">
                        Сохранить
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}