{% extends "partials/base.html" %}
{% load static %}


{% block title %} Регистрация {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock head %}

{% block content %}
<div class="auth__main">
    <div class="auth__wrapper">
        <div class="auth__content">

            <button onclick="history.back();" class="auth__back-button">
                <img src="{% static 'images/login/back_button.svg' %}" alt="Back">
                <span>Вернуться</span>
            </button>

            <h2 class="auth__title">Регистрация в Petsitter</h2>


            <div class="auth__form-group">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="signup__form-group">
                        <div class="signup__toggle-buttons">
                            <button type="button" class="signup__toggle-button toggle-button-text active" id="client-button">Я - клиент</button>
                            <button type="button" class="signup__toggle-button toggle-button-text" id="sitter-button">Я - ситтер</button>
                        </div>
                        <select name="user_type" id="user_type" class="signup__hidden-select">
                            <option value="заказчик">Я - клиент</option>
                            <option value="исполнитель">Я - ситтер</option>
                        </select>
                    </div>

                    <label class="auth__form-label">Имя</label>
                    <div class="auth__input-wrapper">
                        <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Имя" value="{{customer.user.first_name}}" required>
                    </div>
                    


                    <label class="auth__form-label">E-mail</label>
                    <div class="auth__input-wrapper">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Почта" required>
                    </div>


                    <label class="auth__form-label">Пароль</label>
                    <div class="auth__input-wrapper">
                        <input type="password" class="form-control" name="password1" id="password1" placeholder="Придумайте пароль" required>
                        <span class="auth__toggle-password" onclick="togglePasswordVisibility(this)">
                            <!-- <img src="{% static 'images/login/View_hide_light.svg' %}" alt="show/hide"> -->
                            <i class="ri-eye-line unvisible"></i>
                            <i class="ri-eye-off-line"></i>
                        </span>
                    </div>


                    <div class="auth__form__help-button" onclick="togglePersonalData(this)">
                        <label>
                            <input type="checkbox" name="" wfd-id="id4" class="unvisible">
                            <div class="personal-data-checkbox"></div>
                            Даю согласие на обработку персональных данных
                        </label>
                    </div>


                    <button type="submit" class="auth__btn auth__main-btn">
                        Зарегистрироваться
                    </button>
                </form>
                <button  class="auth__btn auth__alt-btn"> 
                    <a href="{% url 'user_app:login' %}">Войти</a> 
                </button>
            </div>
        </div>
    </div>

    <script>
        // переключение пароля
        function togglePasswordVisibility(element) {
            const input = element.previousElementSibling;
            const eyeOppen = element.querySelector('.ri-eye-line');
            const eyeClose = element.querySelector('.ri-eye-off-line');
            if (input.type === "password") {
                input.type = "text";
                eyeOppen.classList.remove('unvisible');
                eyeClose.classList.add('unvisible');
            } else {
                input.type = "password";
                eyeClose.classList.remove('unvisible');
                eyeOppen.classList.add('unvisible');
            }
        }

        // переключение клиент - ситтер
        document.addEventListener('DOMContentLoaded', function() {
            const clientButton = document.getElementById('client-button');
            const sitterButton = document.getElementById('sitter-button');
            const userTypeSelect = document.getElementById('user_type');

            clientButton.addEventListener('click', function() {
                clientButton.classList.add('active');
                sitterButton.classList.remove('active');
                userTypeSelect.value = 'заказчик';
            });

            sitterButton.addEventListener('click', function() {
                sitterButton.classList.add('active');
                clientButton.classList.remove('active');
                userTypeSelect.value = 'исполнитель';
            });
        });

        // переключение согласия
        function togglePersonalData(element) {
            const checkbox = element.querySelector('input[type="checkbox"]');
            const checkboxVisual = element.querySelector('.personal-data-checkbox');
        if (checkbox.checked) {
            checkboxVisual.classList.remove('personal-data-checked');
        } else {
            checkboxVisual.classList.add('personal-data-checked');
        }
        checkbox.checked = !checkbox.checked;
        }
    </script>

</div>
{% endblock content %}