{% extends "partials/base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %} Личный кабинет {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/profile/profile.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/profile/profile_sitter.css' %}"> 
    <script src="{% static 'scripts/profile.js' %}" defer></script>
{% endblock head %}

{% block content %}
<div class="profile__main">
    <div class="profile__wrapper">

        <ul class="profile__nav">
            <li><a href="{% url 'user_app:sitter_profile' username=user.username %}" class="profile__nav-selected">Мой профиль</a></li>
            <li><a href="{% url 'home' %}">История заказов</a></li>
            <li><a href="{% url 'home' %}">Сообщения</a></li>
        </ul>
    
        <div class="profile__content">

            
            <h2 class="toggle-section" data-target="#profile-info">
                Мои данные <i class="ri-arrow-down-s-line arrow"></i>
            </h2>
            <div id="profile-info" class="collapsible">

                <div class="rate">
                    <div class="rate-label data-lable">
                        <span>Рейтинг</span>
                    </div>
                    <div class="rate-stars">
                        <div class="empty-stars">
                            <img src="{% static 'images/profile/star-empty.png' %}" alt="">
                            <img src="{% static 'images/profile/star-empty.png' %}" alt="">
                            <img src="{% static 'images/profile/star-empty.png' %}" alt="">
                            <img src="{% static 'images/profile/star-empty.png' %}" alt="">
                            <img src="{% static 'images/profile/star-empty.png' %}" alt="">
                        </div>
                        <div class="filled-stars" style="width: calc({{ sitter_profile.profile.rating|to_float }} / 5 * 100%);">
                            <img src="{% static 'images/profile/star-filled.svg' %}" alt="">
                            <img src="{% static 'images/profile/star-filled.svg' %}" alt="">
                            <img src="{% static 'images/profile/star-filled.svg' %}" alt="">
                            <img src="{% static 'images/profile/star-filled.svg' %}" alt="">
                            <img src="{% static 'images/profile/star-filled.svg' %}" alt="">
                        </div>
                    </div>

                </div>


                {% if sitter_profile == user %}
                    <a class="edit-profile" href="{% url 'user_app:sitter_profile_edit' username=sitter_profile.username %}">
                        <span>Редактировать профиль</span>
                        <img src="{% static 'images/profile/profile-edit.png' %}" alt="">
                    </a>
                {% endif %}

                <div class="profile-sitter-info">
                    
                    <div class="profile-data">
                        <div class="data-row">
                            <div class="data-lable">Имя</div>
                            <div class="data-data">{{ sitter_profile.first_name }}</div>
                        </div> 
                        {% if sitter_profile.last_name %}
                            <div class="data-row">
                                <div class="data-lable">Фамилия</div>
                                <div class="data-data">{{ sitter_profile.last_name }}</div>
                            </div> 
                        {% endif %}
                        {% if sitter_profile.profile.dob %}
                            <div class="data-row">
                                <div class="data-lable">Дата рождения</div>
                                <div class="data-data">{{ sitter_profile.profile.dob }}</div>
                            </div> 
                        {% endif %}
                        {% if sitter_profile.profile.show_phone %}
                            <div class="data-row">
                                <div class="data-lable">Телефон</div>
                                <div class="data-data">{{ sitter_profile.profile.phone }}</div>
                            </div>
                        {% endif %}
                        {% if sitter_profile.profile.show_email %}
                            <div class="data-row">
                                <div class="data-lable">Email</div>
                                <div class="data-data">{{ sitter_profile.email }}</div>
                            </div> 
                        {% endif %}
                        <div class="data-row">
                            <div class="data-lable">Моя цитата</div>
                            <div class="data-data">{{ sitter_profile.profile.bio|default_if_none:"Нет данных" }}</div>
                        </div> 
                        <div class="data-row">
                            <div class="data-lable">Город</div>
                            <div class="data-data">{{ sitter_profile.profile.location|default_if_none:"Нет данных" }}</div>
                        </div> 
                        <div class="data-row">
                            <div class="data-lable">Ближайший район</div>
                            <div class="data-data">{{ sitter_profile.profile.area|default_if_none:"Нет данных" }}</div>
                        </div> 
                        {% if sitter_profile.profile.cat_type %}
                            <div class="data-row">
                                <div class="data-lable">Профили работы</div>
                                <div class="data__cat-type__wrapper">
                                    {% for type in categories %}
                                        <div class="data-data data__cat-type">{{ type }}</div>
                                    {% endfor %}
                                </div>
                            </div> 
                        {% endif %}
                    </div>

                    <div class="image-sitter-wrapper">
                        <img src="{{ sitter_profile.profile.image.url }}" alt="{{ sitter_profile }}" class="profile-image">
                    </div>
                </div>
            </div>
    


            <h2 class="toggle-section" data-target="#price">
                Прайс-лист <i class="ri-arrow-down-s-line arrow"></i>
            </h2>
            <div id="price" class="collapsible">
                <div class="price-info">
                    {% if sitter_profile == user %}
                        <a class="add-work-type" href="{% url 'add_service' %}">Добавить</a>
                    {% endif %}
                    <div class="price-list">
                        {% for service in sitter_services %}
                            <div class="price-item">
                                {{ service.category }} - {{ service.price }} рублей
    
                                {% if sitter_profile == user %}
                                    <a class="delete-work-type" href="{% url 'service_delete' service.id %}">
                                        <i class="ri-delete-bin-line"></i>
                                    </a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
    
            <h2 class="toggle-section" data-target="#settings">
                Настройки <i class="ri-arrow-down-s-line arrow"></i>
            </h2>
            <div id="settings" class="collapsible collapsible-settings">
                {% if sitter_profile == user %}
                    <a class="pet-edit-button" href="{% url 'user_app:user_profile_settings' username=sitter_profile.username %}">Изменить пароль</a>
                {% endif %}
                <br>
            </div>
            <a class="profile-dop-button" href="{% url 'user_app:logout' %}">Выйти</a>
            <a class="profile-dop-button" href="{% url 'home' %}">Удалить профиль</a>

        </div>


    </div>
</div>
{% endblock content %}