/*========================== BANNER ==========================*/
.banner__card {
    position: relative;
    background-color: var(--purple-color);
    border-radius: 60px;
    padding: 5rem;
    box-shadow: var(--normal-shadow);
}

.banner__data {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 39rem;
}

.banner__title {
    font-family: var(--title-font);
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
}

.banner__text {
    font-family: var(--text-font);
    font-size: 1.5rem;
    font-weight: var(--font-medium);
}

.banner__buttons-container {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}

.banner__button {
    background-color: var(--light-purple-color);
    padding: 1.3rem 2.5rem;
    border-radius: 40px;

    font-family: var(--text-font);
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--dark-purple-color);
    transition: color .5s, background-color .5s;
}

.banner__button:hover {
    background-color: var(--dark-purple-color);
    color: var(--white-color);
}

.banner__image-container {
    width: 100%;
}

.banner__image {
    position: absolute;
    right: -3rem;
    bottom: 0;
    opacity: 0;
    max-height: 670px;
    transition: opacity 3s, transform 3s;
    mask-image: linear-gradient(to bottom, 
                hsla(269, 100%, 79%) 60%, 
                transparent 100%);
}

#banner-girl {
    right: -10rem;
    mask-image: none;
}

/* Reveal banner slideshow image */
.banner__show-image {
    opacity: 1;
    transform: translateX(-2rem);
}

/* Dots at the bottom of the banner */
.banner__carousel-indicators {
    position: absolute;
    bottom: -3rem;
    left: 50%;
    transform: translateX(-50%);
}

.banner__carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--purple-color);
    border-radius: 10px;
    margin: .5rem;
    user-select: none;
    transition: background-color 1s;
}

.banner__carousel-indicators li.active {
    background-color: var(--dark-purple-color);
}

/*=========================== BREAKPOINTS ===========================*/
/* for below large */
@media screen and (max-width: 1250px) {
    .banner__card {
        border-radius: 30px;
        padding: 3rem;
    }

    .banner__image {
        max-height: 400px;
        right: 5rem;
    }

    #banner-girl {
        right: -3rem;
    }

    .banner__data {
        width: 30rem;
    }

    .banner__title {
        font-size: var(--big-font-size);
    }

    .banner__text {
        font-size: var(--normal-font-size);
    }
}

@media screen and (max-width: 1000px) {
    .banner__image {
        right: -3rem;
    }
    #banner-girl {
        right: -10rem;
    }
}

/* for medium devices */
@media screen and (max-width: 860px) {
    .banner__image {
        display: none;
    }

    .banner__data {
        width: 100%;
        align-items: center;
        text-align: center;
    }
}








/*========================== SERVICES ==========================*/
.section__title {
    font-family: var(--title-font);
    font-weight: var(--font-bold);
    color: var(--dark-purple-color);
    text-align: center;
    margin-bottom: 4rem;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.25rem
}

.services__item {
    background-color: var(--yellow-color);
    max-width: 400px;
    border-radius: 40px;
}

.services__image {
    height: 360px;
    margin-bottom: -3.5rem;
}

.services__name {
    color: var(--dark-purple-color);
    font-family: var(--text-font);
    font-size: 2rem;
    font-weight: var(--font-bold);

    margin-bottom: 1.5rem;
}

.services__text {
    color: var(--black-color);
    font-family: var(--text-font);
    font-size: 1.25rem;
    font-weight: var(--font-medium);

    margin-bottom: 1rem;
}

.services__bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.services__price {
    color: var(--dark-purple-color);
    font-family: var(--text-font);
    font-size: 2rem;
    font-weight: var(--font-bold);
}

.services__arrow-button {
    padding: .3rem 1rem;
    background-color: var(--purple-color);
    border-radius: 30px;
    color: var(--dark-purple-color);
    font-size: 3rem;
    transition: transform .4s;
}

.services__wrapper {
    display: block;
    width: 100%; 
    padding: 1.25rem;

    background-color: var(--white-color);
    border-radius: 40px;
    border: 2px solid var(--yellow-color);
    transition: transform .4s;
}

.services__wrapper:hover {
    transform: translateY(-1rem);
}

.services__wrapper:hover .services__arrow-button {
    transform: translateX(.5rem);
}










/*========================== FILTER ==========================*/
.filter__card {
    border-radius: 60px;
    border: 2px solid var(--yellow-color);
    width: 100%;
}

.filter__form {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.filter__card-top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2.5rem;
}

.filter__middle-container {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 2.5rem;
}

.filter__middle-container > * {
    flex-grow: 1;
    flex-shrink: 1;
}

.filter__input-box {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}

.filter__input-box > * {
    flex-grow: 1;
    flex-shrink: 1;
}

.filter__label {
    display: block;
    color: var(--dark-purple-color);
    font-family: var(--text-font);
    font-size: 1.5rem;
    font-weight: var(--font-bold);
    margin-bottom: 1rem;
}

.filter__radio {
    display: none;
}

.filter__button {
    padding: 1rem 1rem;
    border-radius: 40px;
    border: 2px solid var(--yellow-color);
    cursor: pointer;

    color: var(--black-color);
    font-family: var(--text-font);
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    text-align: center;
    transition: background-color .4s;
}

.filter__radio:checked + .filter__button {
    background-color: var(--light-yellow-color);
}

.filter__button:hover {
    background-color: var(--light-yellow-color);
}

.filter__input-line {
    padding: 1rem 1.5rem;
    border-radius: 40px;
    border: 2px solid var(--yellow-color);
    font-size: var(--h2-font-size);
}

.filter__input-line::placeholder {
    color: rgba(20, 0, 41, 0.50);
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
}

.filter__submit {
    flex-grow: 3;
    padding: 1rem;
    border-radius: 2.5rem;
    text-align: center;
    background-color: var(--purple-color);

    color: var(--dark-purple-color);
    font-family: var(--text-font);
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    transition: background-color .4s, color .4s;
}

.filter__submit:hover {
    background-color: var(--light-purple-color);
    color: var(--black-color);
}

#dog-gif,
#cat-gif {
    display: none;
}

.filter__cat-dog {
    padding-block: 0;
}

.filter__cat-dog img {
    user-select: none;
}

.filter__card-bottom {
    width: 100%;
    overflow: hidden;
    border-radius: 60px;
}

/*============== Yandex map geosuggest ===============*/
.filter__map {
    height: 370px;
    width: 100%;
    min-width: 400px;
    background-color: var(--light-yellow-color);
}

.filter__geosuggest-container {
    position: relative;
}

#address-input {
    width: 100%;
}

.filter__autocomplete-items {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
    border-top: none;
    background-color: #fff;
    overflow: hidden;

    z-index: 100;
    top: calc(100% + 3px);
    left: 0;
    right: 0;
}

.filter__autocomplete-items div {
    min-width: 320px;
    max-width: 90vw;
    color: var(--dark-purple-color);
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    padding: 1rem;
    cursor: pointer;
    transition: background-color .4s;
}

.filter__autocomplete-items div:hover {
    background-color: var(--light-yellow-color);
}

/*========================== FILTER BREAKPOINTS ==========================*/
@media screen and (max-width: 1355px) {
    .filter__card-top {
        flex-direction: column;
        align-items: center;
    }

    .filter__card-top > img {
        order: -1;
    }
}

@media screen and (max-width: 1000px) {
    .filter__middle-container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px) {
    .filter__input-box {
        flex-wrap: wrap;
    }
}






/*========================== ABOUT ==========================*/
.about__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25rem;
}

.about__card {
    position: relative;
    max-width: 300px;
}

.about__img {
    transition: transform 1s;
}

.about__title {
    padding: 1.5rem;
    border-radius: 2.5rem;
    border: 2px solid var(--yellow-color);

    color: var(--black-color);
    font-family: var(--text-font);
    font-weight: var(--font-semi-bold);
    text-align: center;

    transition: opacity .5s;
}

.about__text {
    position: absolute;
    inset: 0;
    border-radius: 2.5rem;
    padding: 1.25rem;
    background-color: hsla(51, 91%, 70%, 0.8);
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: scale(0.1);

    color: var(--black-color);
    font-family: var(--text-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    line-height: 150%;

    transition: opacity .5s, transform .8s;
}

.about__text b {
    color: var(--dark-purple-color);
}

.about__text p {
    margin-bottom: 1rem;
}

.about__card:hover .about__text {
    opacity: 1;
    transform: scale(1);
}

.about__card:hover .about__title {
    opacity: 0;
}

.about__card:hover .about__img {
    transform: scale(1.05);
}






/*========================== SITTER ==========================*/
.sitter__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25rem;
}

.sitter__item {
    border-radius: 2.5rem;
    background-color: var(--purple-color);
    width: 400px;
}

.sitter__link {
    display: block;
    border-radius: 2.5rem;
    border: 2px solid var(--purple-color);
    background-color: var(--white-color);
    width: 100%;
    height: 100%;
    padding: 1.25rem;
    transition: transform .4s;
}

.sitter__link:hover {
    transform: translateY(-1rem);
}

.sitter__link:hover  .sitter__arrow-button {
    transform: translateX(.5rem);
}

.sitter__image-container {
    position: relative;
    width: 360px;
    height: 360px;
    padding: 1.25rem;
    border-radius: 2.5rem;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-content: end;
    flex-wrap: wrap;
    gap: .5rem;
}

.sitter__image {
    position: absolute;
    top: 50%; left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    height: auto;
    z-index: var(--z-back);
}

.sitter__tag {
    padding: .5rem .8rem;
    background-color: var(--white-color);
    border-radius: 2.5rem;
    position: relative;
    z-index: var(--z-front);

    display: flex;
    gap: .3rem;
    align-items: center;

    color: var(--dark-purple-color);
    font-size: var(--text-font);
    font-weight: var(--font-semi-bold);
}

.sitter__tag i {
    font-size: 1.25rem;
    font-weight: initial;
}

.sitter__tag-icon {
    display: inline-block;
    max-width: 20px;
    max-height: 20px;
    filter: brightness(0) saturate(100%) invert(10%) sepia(71%) saturate(3248%) hue-rotate(263deg) brightness(91%) contrast(123%);
}

.sitter__info-container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 1rem;
}

.sitter__name {
    font-size: 1.5rem;
    font-weight: var(--font-bold);
}

.sitter__age {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.sitter__rating {
    text-align: right;
    color: var(--yellow-color);
}

.sitter__rating-number {
    color: var(--dark-purple-color);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}

.sitter__jobs {
    margin-top: .5rem;
    color: var(--hint-color);
}

.sitter__jobs span {
    font-weight: var(--font-bold);
}

.sitter__jobs span:nth-child(1) {
    color: var(--dark-purple-color);
}

.sitter__jobs span:nth-child(2) {
    color: var(--purple-color);
}

.sitter__address {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
}

.sitter__address i {
    color: var(--light-purple-color);
    font-size: 2rem;
}

.sitter__address span {
    text-wrap: wrap;
}

.sitter__arrow-button {
    justify-self: flex-end;
    align-self: flex-end;
    width: fit-content;
    height: fit-content;
    padding: .3rem 1rem;
    background-color: var(--purple-color);
    border-radius: 30px;
    color: var(--dark-purple-color);
    font-size: 3rem;
    transition: transform .4s;
}

/* Link to catalogue */

.sitter__link-all {
    position: relative;
    display: block;
    border-radius: 2.5rem;
    background-color: var(--purple-color);
    width: 100%;
    padding: 1.25rem;
    transition: transform .4s;
    min-height: 600px;
}

.sitter__link-all h1,
.sitter__link-all p {
    padding-inline: 1rem;
}

.sitter__link-all h1 {
    margin-top: 7.25rem;
    color: var(--dark-purple-color);
    font-family: var(--title-font);
    font-size: 6rem;
    font-weight: var(--font-bold);
}

.sitter__link-all p {
    color: var(--black-color);
    font-family: var(--text-font);
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
}