.auth__form__help-button label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

.personal-data-checkbox {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #7e27db;
    border-radius: 50%;
    background-color: #fff;
    transition: background-color 0.3s;
}

.personal-data-checked {
    background-color: #7e27db;
}



.auth__form__help-button:hover {
    color: #7e27db;
}


.signup__toggle-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.signup__toggle-button {
    width: 48%;
    padding: 15px;
    border: 2px solid #FFD700;
    border-radius: 26px;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.3s;
}
.toggle-button-text {
    color: var(--Black, #140029);
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}
.signup__toggle-button.active {
    background-color: #FFD700;
}

.signup__hidden-select {
    display: none;
}