/*========================== BASE ==========================*/
.main {
    color: var(--Black, #140029);
    font-size: 1.25rem;
    font-weight: var(--font-medium);
    line-height: 1.75rem; /* 140% */
    margin-bottom: 5rem;
}

.content {
    grid-template-columns: 1fr 2fr;
}

.left-column,
.right-column {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.right-column {
    min-width: 600px;
}

.block {
    border-radius: 2.5rem;
    border: 2px solid var(--yellow-color);
    padding: 1.25rem;
    background-color: var(--white-color);
}

/* marked to edit later - delete in final */
mark {
    background-color: red;
    color: white;
}

.check-icon {
    color: var(--medium-purple-color);
    font-size: 2rem;
}

h1, h2 {
    color: var(--dark-purple-color);
    font-weight: var(--font-bold);
}

h1 {
    font-size: 2rem;
    line-height: 2.5rem; /* 125% */
}

h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 2rem; /* 133.333% */
}



/*========================== BACK ==========================*/
.back {
    padding-block: 1.25rem;
}

.back__link {
    display: block;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    transition: transform .6s;
}

.back__link i {
    font-size: 3rem;
    color: var(--dark-purple-color);
    transition: color .4s;
}

.back__link span {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}

.back__link:hover h2,
.back__link:hover i {
    filter: brightness(1.5);
}

.back__link:hover {
    transform: translateX(-.5rem);
}



/*==============================================================
                    LEFT COLUMN 
==============================================================*/

/*========================== SITTER ==========================*/
.sitter {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1.25rem;
    background-color: var(--white-color);
    width: 100%;
    transition: transform .4s;
}

.sitter__column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sitter__image-container {
    position: relative;
    width: 360px;
    height: 360px;
    padding: 1.25rem;
    border-radius: 2.5rem;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-content: end;
    flex-wrap: wrap;
    gap: .5rem;
}

.sitter__image {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    z-index: var(--z-back);
    object-fit: cover;
}

.sitter__tag {
    padding: .5rem .8rem;
    background-color: var(--white-color);
    border-radius: 2.5rem;
    position: relative;
    z-index: var(--z-front);

    display: flex;
    gap: .3rem;
    align-items: center;

    color: var(--dark-purple-color);
    font-size: var(--text-font);
    font-weight: var(--font-semi-bold);
}

.sitter__tag i {
    font-size: 1.25rem;
    font-weight: initial;
}

.sitter__tag-icon {
    display: inline-block;
    max-width: 20px;
    max-height: 20px;
    filter: brightness(0) saturate(100%) invert(10%) sepia(71%) saturate(3248%) hue-rotate(263deg) brightness(91%) contrast(123%);
}

.sitter__name {
    font-size: 1.5rem;
    font-weight: var(--font-bold);
}

.sitter__age {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.sitter__rating {
    text-align: right;
    color: var(--yellow-color);
}

.sitter__stars {
    display: flex;
    gap: .2rem;
}

.sitter__rating-number {
    color: var(--dark-purple-color);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}

.sitter__jobs {
    margin-top: .5rem;
    color: var(--hint-color);
}

.sitter__jobs span {
    font-weight: var(--font-bold);
}

.sitter__jobs span:nth-child(1) {
    color: var(--dark-purple-color);
}

.sitter__jobs span:nth-child(2) {
    color: var(--purple-color);
}

.sitter_experience {
    margin-top: 1rem;
}

.sitter__address {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
}

.sitter__address i {
    color: var(--light-purple-color);
    font-size: 2rem;
}

.sitter__address span {
    text-wrap: wrap;
}

.sitter__arrow-button {
    justify-self: flex-end;
    align-self: flex-end;
    width: fit-content;
    height: fit-content;
    padding-inline: 1.3rem;
    background-color: var(--purple-color);
    border-radius: 30px;
    color: var(--dark-purple-color);
    font-size: 3rem;
    transition: transform .4s;
}


/*========================== HIRE BUTTON ==========================*/
.hire-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 1.25rem;

    border-radius: 2.5rem;
    background: var(--purple-color);

    color: var(--dark-purple-color);
    font-family: Montserrat;
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    transition: color .4s, background-color .4s;
}

.hire-button:hover {
    color: var(--black-color);
    background-color: var(--light-purple-color);
}




/*========================== RANK ==========================*/
.rank__header {
    display: flex;
    align-items: center;
    gap: .2rem;
}

.rank__star {
    color: var(--yellow-color);
    font-size: 2rem;
}

.rank__rating-number {
    color: var(--dark-purple-color);
    font-size: 1.5rem;
    font-weight: var(--font-bold);
}

.rank__review-count {
    padding-left: 1.25rem;
    display: inline;
    color: var(--medium-purple-color);
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    text-decoration-line: underline;
}

.rank__list {
    margin-top: 1.25rem;
}

.rank__item {
    display: flex;
    align-items: center;
    gap: .6rem;
}

.rank__content {
    color: var(--black-color);
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
}


/*========================== SPECIAL SKILLS ==========================*/
.special {
    border: none;
    background-color: var(--light-yellow-color);
}

.special__item {
    display: flex;
    align-items: center;
    gap: .6rem;
}


/*========================== MAP ==========================*/
.map {
    padding: 0;
    overflow: hidden;
}

.map h2 {
    margin: 1.25rem;
}

#map {
    width: 100%;
    height: 340px;
    pointer-events: none;
}




/*========================== BOOKING ==========================*/
.booking__list {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.booking__item {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.booking__item img {
    width: 40px;
}







/*==============================================================
                    RIGHT COLUMN 
==============================================================*/

/*========================== ABOUT ==========================*/
.about {
    padding-block: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    overflow: hidden;
}

.about__title {
    margin-bottom: 1rem;
}


/* ALBUM */

.about__album {
    display: grid;
    grid-template-columns: 380px 180px 180px;
    grid-template-rows: 180px 180px;
    gap: 1rem;
    width: max-content;
}

.about__image-container {
    position: relative;
    display: block;
    width: 180px;
    height: 180px;
    border-radius: 1.75rem;
    overflow: hidden;
    transition: transform .4s;
}

.about__image-container:nth-child(1) {
    grid-column: 1 / 2; /* Spans the first column */
    grid-row: 1 / 3; /* Spans both rows */
    border-radius: 2.5rem;
    width: 380px;
    height: 380px;
}

.about__image-container:nth-child(2) {
    grid-column: 2 / 3; /* Second column, first row */
    grid-row: 1 / 2;
}

.about__image-container:nth-child(3) {
    grid-column: 3 / 4; /* Third column, first row */
    grid-row: 1 / 2;
}

.about__image-container:nth-child(4) {
    grid-column: 2 / 3; /* Second column, second row */
    grid-row: 2 / 3;
}

.about__image-container:nth-child(5) {
    grid-column: 3 / 4; /* Third column, second row */
    grid-row: 2 / 3;
}

/* Hide any item after the 5th child */
.about__image-container:nth-child(n+6) {
    display: none;
}

.about__image-all {
    grid-column: 3 / 4; /* Third column, second row */
    grid-row: 2 / 3;

    background-color: var(--light-yellow-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    border-radius: 1.75rem;

    color: var(--dark-purple-color);
    font-weight: var(--font-semi-bold);
    line-height: 1.75rem; /* 140% */
    cursor: pointer;
    transition: color .4s, transform .4s;
}

.about__image-all:hover,
.about__image-container:hover {
    color: hsl(270, 100%, 30%);
    transform: scale(1.05);
}

.about__image-container img {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* SERVICE */
.about__service-list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.about__service-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: right;
}

.about__service-item > *:nth-child(1) {
    text-align: left;
}

.about__service-text {
    font-size: 1.5rem;
    font-weight: var(--font-bold);
    line-height: 2rem; /* 133.333% */
}

.about__service-subtext {
    font-size: 1rem;
    line-height: 1.5rem; /* 150% */
}


/* DETAILS */
.about__details-list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.about__details-item {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.about__details-item img {
    width: 1.5rem;
}


/*========================== REVIEW ==========================*/
.review {
    border: none;
    padding-block: 2.5rem;
    background-color: var(--light-yellow-color);
}
.review__average {
    margin-top: 2rem;
    display: flex;
    column-gap: 1.25rem;
    flex-wrap: wrap;
}

.review__stars-data {
    display: flex;
    align-items: baseline;
    gap: .2rem;
    flex-wrap: wrap;
}

.review__average-stars {
    display: flex;
    gap: .2rem;
    color: var(--dark-purple-color);
}

.review__rating-number {
    font-size: var(--normal-font-size);
    color: var(--dark-purple-color);
    font-weight: var(--font-bold);
}

.review__list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.review__item {
    display: flex;
    gap: 1.25rem;
    padding: 1.25rem;
    background-color: var(--white-color);
    border-radius: 2.5rem;
}

.review__image-container {
    position: relative;
    flex-shrink: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.review__image-container img {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review__name {
    color: var(--black-color);
    margin-bottom: 0rem;
}

.review__stars {
    display: flex;
    gap: .2rem;
    margin-bottom: 1rem;
    color: var(--yellow-color);
}

.review__more {
    color: var(--dark-purple-color);
    font-weight: var(--font-semi-bold);
    text-decoration-line: underline;
    cursor: pointer;
    transition: color .4s;
}

.review__more:hover {
    color: var(--purple-color);
}