
/*================= VARIABLES CSS =================*/
:root {
    --header-height: 8.1rem;

    /*================= Colors =================*/
    /* Color mode HSL(hue, saturation, lightness) */
    --purple-color: hsl(269, 100%, 79%);
    --yellow-color: hsl(51, 91%, 70%);
    --light-yellow-color: hsl(51, 91%, 87%);
    --black-color: hsl(269, 100%, 8%);
    --dark-purple-color: hsl(270, 100%, 20%);
    --light-purple-color: hsl(269, 100%, 86%);
    --white-color: hsl(0, 0%, 100%);

    --title-color: var(--dark-purple-color);
    --text-color: var(--black-color);
    --body-color: var(--white-color);
    
    /*================= Fonts =================*/
    /* .5rem = 8px | 1rem = 16px ... */
    --body-font: "Montserrat", sans-serif;
    --text-font: "Montserrat", sans-serif;
    --title-font: "Random Grotesque Standard", sans-serif;
    --biggest-font-size: 3rem;
    --big-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 1rem;
    --small-font-size: .8rem;

    /*================= Font Weight =================*/
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;
    
    /*================= z index =================*/
    --z-tooltip: 10;
    --z-fixed: 100;
    
}


/*================= BASE =================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    min-height: 100vh;
    position: relative;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*================= REUSABLE CSS CLASSES =================*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}






/*================= BREAKPOINTS =================*/
/* For small devices */
@media screen and (max-width: 500px) {
    .container {
        margin-inline: .5rem;
    }
}
/* For large devices */
@media screen and (min-width: 1150px) {
    .container {
        margin-inline: auto;
    }
}



