.footer { 
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer__wrapper {
    position: relative;
    z-index: var(--z-front);
    max-width: 1440px;
    width: 100%;
    background-color: var(--purple-color);
    border-radius: 60px 60px 0 0;
    padding: 80px 100px;
}




.footer__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__left {
    position: relative;
    width: 25rem;
}
.footer__nav {
    margin-top: 31px;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}
.footer__nav li {
    margin-bottom: 5px;
}




.footer__middle {
    width: 32rem;
    margin-left: 8px;
}
.footer__form-title {
    margin-top: 11px;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 33px;
}
.footer__middle form {
    margin-top: 70px;
    display: flex;
    align-items: center;
}
.footer__middle input {
    width: 74%;
    padding: 21px 25px;
    border: none;
    border-radius: 30px 0 0 30px;
    font-size: 1rem;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
}
.footer__middle button {
    z-index: 2;
    margin-left: -30px;
    padding: 20px 30px;
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #9B5DE5;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.footer__middle button:hover {
    background-color: #8b3aee;
}

.footer__bottom {
    text-align: center;
    margin-top: 100px;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.footer__right {
    width: 190px;
    display: flex;
    justify-content: flex-end;
}
.footer__right ul {
    display: flex;
    flex-direction: row;
}

.footer__paw {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 444px;
    height: auto;
}

.footer__based-cat {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: var(--z-back);
    transition: top 5s;
}

.footer__show-based-cat {
    top: -15rem;
}

.footer__paw-icon {
    position: absolute;
    top: 2rem;
    left: 14rem;
    width: 1rem;
    filter: invert(8%) sepia(31%) saturate(4605%) hue-rotate(256deg) brightness(81%) contrast(114%);
    transform: rotate(10deg);
    transition: transform .2s;
}

.footer__paw-icon:active {
    transform: scale(0.6);
}

.footer__social-link img {
    transition: transform .5s;
}

.footer__social-link:hover img {
    transform: translateY(-.5rem);
}

.footer__link {
    transition: color .4s;
}

.footer__link:hover {
    color: var(--white-color);
}



@media screen and (max-width: 1130px) {
    .footer__wrapper {
        padding: 3rem;
    }
    .footer__left {
        width: 17rem;
    }
    .footer__middle {
        width: 25rem;
        margin-left: 0;
    }
    .footer__right {
        width: 65px;
    }
    .footer__right ul {
        flex-direction: column;
    }
    .footer__paw {
        width: 333px;
    }
}

@media screen and (max-width: 810px) {
    .footer__wrapper {
        padding: 2rem;
    }
    .footer__content {
        flex-wrap: wrap;
        row-gap: 1rem;
    }
    .footer__middle {
        order: 1;
        /* display: none; */
    }
    .footer__paw {
        bottom: 100px;
        mask-image: linear-gradient(to bottom, 
                    hsla(269, 100%, 79%) 60%, 
                    transparent 100%);
    }
    .footer__bottom {
        font-size: 1rem;
    }
}