/*========================= HEADER & NAV =========================*/
.header {
    width: 100%;
    
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: background-color 1s;
}

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    padding: 11px;
    align-items: flex-start;
    gap: 11px;
}

.nav__toggle,
.nav__close {
    font-size: 1.5rem;
    color: var(--dark-purple-color);
    cursor: pointer;
}


.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: .3rem;

}

.nav__link {
    position: relative;
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--black-color);
    transition: color .4s;
}

.nav__link::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--purple-color);
    position: absolute;
    left: 0;
    bottom: -.5rem;
    transition: width .3s;
}

.nav__link:hover {
    color: var(--purple-color)
}

.nav__link:hover::after {
    width: 30%;
}

.nav__close {
    position: absolute;
    top: 1rem; right: 1.5rem;
}

.nav__top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.nav__sign-in {
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: var(--dark-purple-color);
    padding: 1rem 2rem;
    border-radius: 40px;
    transition: background-color .4s;

    font-size: var(--normal-font-size);
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
}

.nav__sign-in:hover {
    background-color: var(--purple-color);
}

.nav__sign-in i {
    font-size: 1.5rem;
    font-weight: initial;
}

/* Add blur header */
.blur-header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: transparent;
}

.blur-header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 100%, 0.5);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    top: 0; left:0;
    z-index: -1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Active link */
.active-link {
    color: var(--purple-color);
}

.active-link::after {
    width: 30%;
}

/*========================= BREAKPOINTS =========================*/
/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
    :root {
        --header-height: 3rem;
    }

    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: hsla(0, 0%, 100%, 0.5);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        width: 80%;
        height: 100%;
        padding: 7rem .5rem;
        transition: right .4s;
    }

    .nav__link {
        display: block;
        padding: 1rem;
        border-radius: 25px;
        transition: color .4s, background-color .4s ease-in-out;
    }

    .nav__link:hover {
        color: var(--dark-purple-color);
        background-color: hsla(0, 0%, 100%, 0.2);
    }

    .nav__link::after {
        background-color: transparent;
    }

    .nav__sign-in {
        gap: .2rem;
        padding: .5rem 1rem;
        border-radius: 40px;
    
        font-size: var(--small-font-size);
    }

    .nav__sign-in i {
        font-size: 1rem;
    }

    .nav__logo img {
        height: 1.5rem;
    }
}

/* for medium devices */
@media screen and (min-width: 768px) {
    .nav__menu {
        width: 50%;
    }
}

/* for large devices */
@media screen and (min-width: 1150px) {
    .nav__toggle,
    .nav__close {
        display: none;
    }

    .nav__menu {
        width: initial;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 4rem;
    }
}



/* Show menu */
.show-menu {
    right: 0;
}