/*========================= HEADER & NAV =========================*/
.header {
    /* position: fixed; */
    /* top: 0; left: 0; */
    width: 100%;
    
    background-color: transparent;
    z-index: var(--z-fixed);
}

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    padding: 11px;
    align-items: flex-start;
    gap: 11px;
}

.nav__toggle,
.nav__close {
    font-size: 1.5rem;
    color: var(--black-color);
    cursor: pointer;
}



.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;

}

.nav__link {
    position: relative;
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--black-color);
    transition: color .4s;
}

.nav__link::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--purple-color);
    position: absolute;
    left: 0;
    bottom: -.5rem;
    transition: width .3s;
}

.nav__link:hover {
    color: var(--purple-color)
}

.nav__link:hover::after {
    width: 30%;
}

.nav__close {
    position: absolute;
    top: 1rem; right: 1.5rem;
}

.nav__top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.nav__sign-in {
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: var(--dark-purple-color);
    padding: 1rem 2rem;
    border-radius: 40px;

    font-size: var(--normal-font-size);
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
}

.nav__sign-in i {
    font-size: 1.5rem;
    font-weight: initial;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: hsla(var(--hue), 70%, 4%, .2);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        width: 80%;
        height: 100%;
        padding: 7rem 3rem;
        transition: right .4s;
    }
}

/* Show menu */
.show-menu {
    right: 0;
}

/* Add blur header */
.blur-header::after {
    content: '';
    position: absolute;
    width: 1000%;
    height: 100%;
    background-color: hsla(var(--hue), 70%, 4%, .2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    top: 0; left:0;
    z-index: -1;
}

/* Active link */
.active-link {
    /* color: var(--first-color-light); */
}

.active-link::after {
    width: 30%;
}

/*========================= BREAKPOINTS =========================*/


/* for medium devices */
@media screen and (min-width: 768px) {
    .nav__menu {
        width: 50%;
    }
}



/* for large devices */
@media screen and (min-width: 1150px) {
    .nav__toggle,
    .nav__close {
        display: none;
    }

    .nav__menu {
        width: initial;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 4rem;
    }
}