.profile__main {
    width: 100%;
    display: flex;
    justify-content: center;
}
.profile__wrapper {
    max-width: 1440px;
    width: 100%;
    padding: 60px 100px 60px 120px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* навигация профиля */
.profile__nav {
    width: 67%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.profile__nav a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 15rem;
    padding: 16px;
    border-radius: 14px;
    border: 2px solid #FCF3BE;
    transition: background-color 0.3s;

    color: var(--Black, #140029);
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
}
.profile__nav a:hover {
    background-color: #FCF3BE;
    text-decoration: none;
}
.profile__nav-selected {
    background-color: #FCF3BE;
}


.profile__content {
    width: 100%;
    margin-top: 42px;
}


/* ------------ */
/* общие стили */
/* ---------- */

/* заголовки секций */
.toggle-section {
    width: 51%;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #8A4FC5;
    border-radius: 14px;

    color: #FFF;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
}
.toggle-section:hover {
    background-color: rgb(116, 74, 168);
}
.toggle-section .arrow {
    transition: transform 0.3s;
}


/* скрываемые секции с данными*/
.collapsible {
    display: none;
    position: relative;
}

.image-wrapper {
    width: 31%;
}
.profile-image, .pet-image {
    width: 100%;
    height: 100%;
    max-height: 526px;
    object-fit: cover;
    border-radius: 14px;
}




/* -------------- */
/* стили профиля */
/* ------------ */

/* блок с информацией профиля */
.profile-info {
    padding: 84px 0 30px 0;
    display: flex;
    justify-content: space-between;
}


/* кнопка редактировать профиль */
.edit-profile {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #D9B6FF;
    padding: 11px 21px 11px 35px;
    text-decoration: none;
    border-radius: 14px;
    transition: background-color 0.3s;

    display: flex;
    align-items: center;

    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
}
.edit-profile img {
    margin-left: 22px;
}
.edit-profile:hover {
    background-color: #c43aff;
}

/* блок с данными профиля */
.profile-data {
    width: 58%;
    margin-top: 26px;
}
.pet-data {
    width: 58%;
}

.data-row {
    width: 100%;
    margin-bottom: 12px;
}
.data-lable {
    color: var(--Dark-purple, #320064);
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
}
.data-data {
    margin-top: 11px;
    width: 100%;
    border: 2px solid #D9B6FF;
    border-radius: 14px;
    padding: 17px 36px;

    color: var(--Black, #140029);
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
}



/* -------------- */
/* стили питомца */
/* ------------ */

/* блок с инф о питомцах */
.pet-info {
    display: flex;
    justify-content: space-between;
}

/* кнопки кошка \ собака */
.pet-type-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    padding-left: 71%;
}
.pet-type-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 60px;
    border: 2px solid #D9B6FF;
    border-radius: 40px;
}
.pet-type-button img {
    max-width: 100%;
    max-height: 100%;
}
.highlight {
    background-color: #D9B6FF;
}

.pet-edit-buttons {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}
.pet-edit-button {
    background-color: #C896FF;
    color: #320064;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 14px;
    display: inline-block;
    transition: background-color 0.3s;

    color: var(--Dark-purple, #320064);
    text-align: center;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
}
.pet-edit-button:hover {
    background-color: #e5d2fa;
}

.add-pet__button {
    margin-bottom: 100px;

    color: var(--Dark-purple, #320064);
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
}
.add-pet__button a {
    color: var(--Dark-purple, #320064);
}
.add-pet__button:hover, .add-pet__button a:hover {
    color: #5702ac;
}


/* ----------- */
/* настройки */
/* -------- */
.collapsible-settings {
    margin-top: 0 !important;
    padding: 22px 0;
}

/* выйти, удалить профиль */
.profile-dop-button {
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 15px 40px;

    color: #320064;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
}
.profile-dop-button:hover {
    color: #7938b9;
}