.back__button {
    color: var(--Dark-purple, #320064);
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
}
.back__button a {
    color: var(--Dark-purple, #320064);
}
.back__button:hover, .back__button a:hover {
    color: #5702ac;
}

.edit__title {
    margin-top: 30px;
    text-align: center;
    padding: 15px 40px;
    background-color: #8A4FC5;
    border-radius: 14px;

    color: #FFF;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
}


.image-wrapper input {
    width: 100%;
    cursor: pointer;
    padding: 15px 40px;
    background-color: #8A4FC5;
    border-radius: 14px;
    color: #FFF;
}
.image-wrapper input:hover {
    background-color: rgb(116, 74, 168);
}

.profile-data-edit {
    width: 58%;
}

.data-data-edit input {
    margin-top: 11px;
    width: 100%;
    border: 2px solid #D9B6FF;
    border-radius: 14px;
    padding: 17px 36px;

    color: var(--Black, #140029);
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
}
.data-data-edit input:focus {
    border-color: #3f057c;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-top: 11px;
}
.checkbox-wrapper input {
    width: 6%;
    margin-bottom: 10px;
}
.checkbox-wrapper label {
    font-size: 1.125rem;
}


.save-button {
    cursor: pointer;
    padding: 15px 40px;
    background-color: #8A4FC5;
    border-radius: 14px;

    color: #FFF;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
}
.save-button:hover {
    background-color: rgb(116, 74, 168);
}
