<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создать профиль</title>
</head>
<body>
<h1>Расскажите о себе</h1>
{% block content %}
    {% if request.user.is_authenticated %}
        <div class="header-bar">
            <a href="{% url 'services_list' %}">&#8592; На главную</a>
        </div>
    <div class="card-body">
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <input class="button" type="submit" value="Submit">
        </form>
    </div>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}

{% endblock content %}
</body>
</html>