{% extends 'partials/base.html' %}
{% block title %}Petsitters.ru - Главная{% endblock title %}
{% block content %}
    <img width="300px" style="display: block; margin: 10px auto 0 auto;" src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExcnluZHV2eHVpMXEwODVneThvODZoMjAwOG8xNTltOHFmd2MzZ2VjeCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/lJNoBCvQYp7nq/giphy.gif">
    <br/><a href="/admin/" <u><button type="button" class="btn btn-primary">Панель администратора (для удобства)</button></u></a>
    <br/><a href="/api/v1/serviceslist/" <u><button type="button" class="btn btn-primary">Django REST framework</button></u></a>
{% endblock content%}