<html>
    <head>
        <title> Страница профиля пользователя</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Добро пожаловать</a></h1>
        </div>
        {% block content %}
        <h2>Страница авторизованного пользователя {{request.user.username}}</h2>
        <div> Здесь будет персональная информация для каждого пользователя </div>
        <div class="container">
    <div class="row">
        <div class="col-sm-6">

            <form class="container mt-4" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row">
                    <div class="form-group col-md-6">
                        <label>First Name</label>
                        <input type="text" class="form-control mt-2" name="first_name" id="first_name"
                            value="{{customer.user.first_name}}" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Last Name</label>
                        <input type="text" class="form-control mt-2" name="last_name" id="last_name"
                        value="{{customer.user.last_name}}" required>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="form-group col-md-12">
                        <label>Username</label>
                        <input type="text" class="form-control mt-2" name="username" id="username"
                            value="{{customer.user.username}}" readonly>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="form-group col-md-6">
                        <label>Email Id</label>
                        <input type="email" class="form-control mt-2" name="email" id="email" value="{{customer.user.email}}" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Contact Number</label>
                        <input type="tel" class="form-control mt-2" name="phone" id="phone" value="{{customer.phone}}" required>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="form-group col-md-6">
                        <label>Location</label>
                        <input type="text" class="form-control mt-2" name="location" id="location"
                            value="{{customer.location}}" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Profile Photo</label>
                        <input type="file" class="form-control mt-2" name="image" id="image">
                    </div>
                </div>

                <input type="submit" value="Submit" class="btn mt-4" accept="image/*" style="background-color: #4f868c; color: white; font-size: larger; width: 8rem;">
            </form>

        </div>
    </div>
</div>

        <button> <a href="{% url 'logout' %}">Выйти</a> </button>
        {% endblock %}
    </body>
</html>