{% extends 'partials/base.html' %}

{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/search.css' %}">
<script src="{% static 'scripts/search.js' %}" defer></script>

<!--==================== Yandex Map Tools ====================-->
<!-- <script src="https://api-maps.yandex.ru/v3/?apikey=23ed166a-ffb0-4867-b8fc-f0ae8521ea51&lang=ru_RU" defer></script> -->
<!-- <script src="{% static 'scripts/partials/ymap_home.js' %}" defer></script> -->

{% endblock head %}

{% block title %} Petsitters.ru - Каталог {% endblock title %}

{% block content %}
<main class="main container main-grid" data-static="{% static '' %}">
    <!--==================== MAP ====================-->
    <section class="map">
        <div class="map__container">hello</div>
    </section>

    <!--==================== FILTER ====================-->
    <section class="filter"></section>

    <!--==================== PEOPLE ====================-->
    <section class="people"></section>
</main>
{% endblock content%}