{% extends 'partials/base.html' %}

{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/sitter.css' %}">
<script src="{% static 'scripts/sitter.js' %}" defer></script>

<!--==================== Yandex Map Tools ====================-->
<link rel="stylesheet" href="{% static 'css/partials/yandex_map.css' %}">

{% endblock head %}

{% block title %} Petsitters.ru - {{ sitter_profile.first_name }} {% endblock title %}

{% block content %}
<main class="main">
    <!--======= BACK BUTTON =======-->
    <section class="back container">
        <a class="back__link" href="{% url 'search' %}">
            <i class="ri-arrow-left-line"></i>
            <h2>Вернуться к списку ситтеров</h2>
        </a>
    </section>

    <!--==================== MAIN CONTENT ====================-->
    <div class="grid content container">
        <div class="left-column">
            <!--==================== SITTER ====================-->
            <section class="sitter block">
                <div class="sitter__image-container">
                    <img src="{{ sitter_profile.profile.image.url }}" class="sitter__image" alt="sitter photo">
                </div>

                <div class="sitter__column">
                    <div class="sitter__info">
                        <span class="sitter__name">
                            {{ sitter_profile.first_name }}
                        </span>
                        <span class="sitter__age">
                            {{ sitter_profile.profile.get_age }} лет
                        </span>
                        <div class="sitter__jobs">
                            <span>3 заказов</span>
                            |
                            <span>2 отзывов</span>
                        </div>
                    </div>
                    <div class="sitter__rating">
                        <div class='sitter__stars'></div>
                        <div class="sitter__rating-number">
                            {{ sitter_profile.profile.rating }}
                        </div>
                    </div>
                </div>

                <div class="sitter__address">
                    <i class="ri-building-line"></i>
                    <span>{{ sitter_profile.profile.location }}</span>
                </div>
            </section>
        </div>
        <div class="right-column"></div>
    </div>






























        <b> {{ sitter_profile.first_name }} </b>
        {{ sitter_profile.profile.get_age|default_if_none:"Нет данных" }} лет
        {{ sitter_profile.profile.rating }}
<br>
        <b>Опыт</b> {{ sitter_profile.profile.get_on_site }}
<br>
        <b>Ближайший район</b> {{ sitter_profile.profile.area|default_if_none:"Нет данных" }}
<br>
        {{ sitter_profile.profile.bio|default_if_none:"Нет данных" }}
<br>
                <h3 class="mb-3">Галерея</h3>
                    {% for image in sitter_gallery %}
                    <div class="row">
                        <div class="col-lg-9 col-sm-12">
                            <img src="{{ image.image.url }}" width="200"
                 height="200" class="img-fluid">
                            <br>
                        </div>

                    </div>
                    <br>
                {% endfor %}


                <h3 class="mb-3">Виды услуг</h3>
                    {% for service in sitter_services %}
                    <div class="row">
                        <div class="col-lg-9 col-sm-12">
                            {{ service.category }}
                            {{ service.price }} рублей
                            <br>
                        </div>

                    </div>
                    <br>
                {% endfor %}
<br>
<b>Обо мне</b> {{ sitter_profile.profile.about_me|default_if_none:"Нет данных" }}
<br>
<b>Детали</b>
<br>
{% if sitter_profile.profile.exp %}
Опыт ухода за животными -
{{ sitter_profile.profile.exp }}
<br>
{% endif %}
{% if sitter_profile.profile.house_type %}
Тип жилья -
{{ sitter_profile.profile.house_type }}
<br>
{% endif %}
{% if sitter_profile.profile.pet_size %}
Размер питомца, принимаемого на передержку -
{{ sitter_profile.profile.pet_size }}
<br>
{% endif %}
{% if sitter_profile.profile.sit_pet %}
Животные, имеющиеся в доме -
{{ sitter_profile.profile.sit_pet }}
<br>
{% endif %}
{% if sitter_profile.profile.kids %}
Дети до 10 лет в доме -
{{ sitter_profile.profile.kids }}
<br>
{% endif %}
<br>
<b>Отзывы о ситтере</b>


</main>
{% endblock content %}