<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
{% if sitters %}
{% for sitter in sitters %}
{% if sitter.cat_type %}
<table>
    <tr>
        <div class="col-12 text-center">
            {% if sitter.image %}
            <img src="{{ sitter.image.url }}" alt="{{ sitter }}" width="200"
                 height="200" class="img-fluid"><br>
            {% endif %}
        </div>
        <b> {{ sitter.user.first_name }} </b>
        {{ sitter.get_age|default_if_none:"Нет данных" }} лет
        {{ sitter.rating }}
    </tr>
    <br>
    <tr>
        <b>Опыт</b> {{ sitter.get_on_site }}
    </tr>
        <br>
    <tr>
        {% if sitter.bio %}
        {{ sitter.bio }}
        {% endif %}
    </tr>
        <br>
    <tr>
        {{ sitter.location|default_if_none:"Нет данных" }}
    </tr>
            <br>
    <tr>
        {{sitter.cat_type|default_if_none:"Нет данных" }}
    </tr>
    <div class="col-lg-2 col-sm-12 text-right">
    <a class="btn btn-primary my-btn h-100"
       href="{% url 'sitter_card' id=sitter.user.id %}">Посмотреть</a>
    </div>

</table>
{% endif %}
{% endfor %}
{% endif %}

{% endblock content %}
</body>
</html>