<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль пользователя</title>
</head>
<body>
{% block content %}

    <div class="header-bar">
        <h1>Profile</h1>
        <a href="{% url 'services_list' %}">&#8592; На главную</a>
    </div>

    <div class="card-body">
    {% if user.customer.image %}
      <img src="{{ customer.image.url }}" height=100 width=100><br><br>
    {% else %}
      <img src="{% static 'images\profile\default_user.png' %}" height=100 width=100><br><br>
    {% endif %}
      <p><strong>Username:</strong> {{ page_user }}</p><br><br>
      <p><strong>Bio:</strong> {{ customer.bio }}</p><br><br>

      {% if user.id == customer.user.id %}
      <a href="{% url 'edit_user_profile' customer.id %}"><button class="button">Редактировать</button></a>
      {% endif %}

    </div>

{% endblock content %}
</body>
</html>